@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TuristickaAgencija.Areas.ModulAdministrator.Models.LicencaUrediVM

<h3>Izmjena Licence</h3>
<hr />
<form ajax-poziv="da" ajax-rezultat="posjedovaneLicence" action="/ModulAdministrator/Licenca/Uredi" method="post" style="width:80%;">
    <input asp-for="licencaId" hidden />
    <div class="form-group">
        <div style="width:35%; float:left; margin-right:5%;" class="form-group">
            <label>Serijski broj</label>
            <input asp-for="serijskiBroj" class="form-control" />
            <span asp-validation-for="serijskiBroj" class="text-danger"></span>
        </div>
        <div style="width:60%; float:right;" class="form-group">
            <label>Datum stjecanja</label>
            <input asp-for="datumStjecanja" class="form-control" />
            <span asp-validation-for="datumStjecanja" class="text-danger"></span>
        </div><br />
    </div>
    <div class="form-group">
        <label>Naziv</label>
        <input asp-for="naziv" class="form-control" />
        <span asp-validation-for="naziv" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Snimi" class="btn btn-success btn-sm" />
        <button class="btn btn-danger btn-sm" ajax-poziv="da" ajax-rezultat="posjedovaneLicence" ajax-url="/ModulAdministrator/Licenca/Index?zaposlenikId=@Model.zaposlenikId">Odustani</button>
    </div>
</form>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>