
@{
    ViewData["Title"] = "PrikazRecenzijaVIndex";
    Layout = "_VodicLayout";

}
@model TuristickaAgencija.Areas.ModulVodic.Models.PrikazRecenzijavIndex


<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/MyScript.js"></script>







    <style>
        #frame {
            width: 100%;
            height: 85vh;
        }
    </style>

</head>
<body>


    <input type="hidden" value="@Model.putovanjeId" name="putovanjeId" />
    <div id="frame">


        <div id="prikazRecenzijaV">

        </div>
    </div>

</body>
</html>



    <script>
        $(document).ready(function () {

            $.get("/modulvodic/recenzijev/PrikazRecenzijaV?putovanjeId=@Model.putovanjeId", function (rezultat, status) {
                $("#prikazRecenzijaV").html(rezultat);
            });
        });

</script>


